<% if user_signed_in? %>
  <%= search_form_for @q, url: search_path, method: :get, html: { class: 'search-form d-inline-block w-auto' } do |f| %>
    <div class="input-group shadow-sm">
      <%= f.search_field :name_cont, placeholder: '検索ワードを入力', class: 'form-control search-input' %>
      <button class="btn btn-light search-button" type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
  <% end %>
<% end %>