<div id="meta_counts_<%= material.id %>">
  <i class="fa-regular fa-circle-check"></i> いいね：<%= material.favorites.count %>件　
  <i class="fa-solid fa-comment"></i> コメント：<%= material.comments.count %>件
</div>