<h1>About</h1>
<p>This website will be a review site for medical equipment and materials.<br>
Please feel free to browse!</p>

<h4>Profile</h4>
<p><strong>My Name</strong></p>
<p>Masahito Nakajima</p>
<p><strong>My Skill</strong></p>
<p>HTML/CSS/JavaScript/Ruby/Rails</p>