.card {
  border-radius: 1rem;
  transition: transform 0.2s ease;
  &:hover {
    transform: translateY(-4px);
  }

  .card-title {
    font-weight: bold;
    font-size: 1.2rem;
  }

  .text-muted {
    font-size: 0.85rem;
  }

  .avg-star-rating {
    font-size: 1.2rem;
  }
}