.card {
  border-radius: 16px;
  transition: transform 0.2s ease;
  &:hover {
    transform: translateY(-4px);
  }

  .card-title {
    font-weight: bold;
    font-size: 20px;
  }

  .text-muted {
    font-size: 13.5px;
  }

  .avg-star-rating {
    font-size: 20px;
  }
}

.external-link a {
  color: #00c8ff;
  text-decoration: none;

  &:hover {
    color: #009acd;
    text-decoration: underline;
  }
}