.top-hero-section {
  background-color: #2E2930;
  padding: 64px 16px;
  text-align: center;

  h1 {
    font-weight: bold;
  }

  .btn {
    font-size: 17.5px;
    padding: 12px 32px;
  }
}

.top-register-btn {
  position: fixed;
  top: 120px; // ヘッダー直下くらいに調整
  right: 32px;
  z-index: 1040;

  @media (max-width: 768px) {
    top: 80px;
    right: 16px;
    font-size: 14.5px;
    padding: 8px 16px;
  }
}

.top-material-section {
  background-color: #2C3930;

  h2 {
    font-weight: bold;
  }
}