.mypage-section {
  background-color: #A27B5C; // 落ち着いた茶色
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.profile-section {
  background-color: #DCD7C9;
  color: #000;
  padding: 1.5rem;
  border-radius: 0.5rem;
}