<% if user_signed_in? %>
  <div class="bookmark-btn" data-material-id="<%= material.id %>">
    <% if material.bookmarked_by?(current_user) %>
      <p>
        <%= link_to material_bookmark_path(material), method: :delete, remote: true do %>
          <i class="fa-solid fa-bookmark" aria-hidden="true" style="color: orange; font-size: 24px;"></i>
        <% end %>
      </p>
    <% else %>
      <p>
        <%= link_to material_bookmark_path(material), method: :post, remote: true do %>
          <i class="fa-solid fa-bookmark" aria-hidden="true" style="color: gray; font-size: 24px;"></i>
        <% end %>
      </p>
    <% end %>
  </div>
<% end %>